@model ORDINARIO_TEC_WEB.Models.Proveedore

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Proveedores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionProv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionProv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoProv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoProv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoProv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoProv)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProv" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
