@model ORDINARIO_TEC_WEB.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionCli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionCli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelfonoCli)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelfonoCli)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCli">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
